<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DB_CONNECTION" value="Trusted_Connection=false;user=myUserName;password=myPassword;server=tcp:MySQLServer;database=myDatabaseName;connection timeout=30"/>
		<add key="COMMIT_SLEEP_MILLISECONDS" value="5000"/>
		<add key="FSW_RESTART_INTERVAL_MINUTES" value="5000"/>
		<add key="COMMIT_EVENT_LIMIT" value="500"/>
		<add key="COMMIT_EVENT_MIN" value="50"/>
		<add key="MAXRETRIES" value="3"/>
	</appSettings>
</configuration>